/* Styles for the search section */
.search-section {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add some space between the elements */
    align-items: center; /* Center align the items vertically */
    margin: 20px;
    color: #ffffff; /* Set text color to white */
}

.search-section select,
.search-section input,
.search-section button {
    padding: 10px;
    margin: 0 5px;
    border: 2px solid #B6EADA; /* Border color */
    background: transparent; /* Transparent background */
    border-radius: 5px;
    color: #828282; /* Text color */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.search-section label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.search-section input::placeholder {
    color: #ffffff; /* Placeholder text color */
    opacity: 0.7; /* Placeholder text opacity */
}

.search-section input:focus,
.search-section select:focus,
.search-section button:focus {
    outline: none;
    border-color: #a0d2c8;
}

.search-section button {
    cursor: pointer;
    background-color: #B6EADA; /* Button background color */
    color: #03001C; /* Button text color */
    transition: background-color 0.3s, color 0.3s;
}

.search-section button:hover {
    background-color: #a0d2c8; /* Darker background on hover */
    color: #ffffff; /* White text on hover */
}


/* Styles for the word cloud image section */
.wordcloud-section {
    text-align: center;
    margin: 20px;
    color: white;
    /* Set a minimum width and height or set it to a percentage of the container */
    min-width: 900px; 
    min-height: 600px;
    /* Optional: you can use width and height as a percentage if you prefer */
    width: 100%;
    height: auto; /* This will ensure that the section scales with the content */
}


/* Styles for the news section */
.news-section {
    background: linear-gradient(to bottom, #000004 0%, #050120 50%, #0f4370 100%);
    padding: 20px; /* Adjust the padding as needed */
    color: #ffffff;
}

.news-item {
    display: flex;
    justify-content: space-between; /* Adjusts items to be on opposite ends */
    align-items: center; /* Aligns items vertically */
    padding: 10px 0; /* Top and bottom padding for each item */
    border-bottom: 1px solid #333;
    transition: background-color 0.3s;
}

.news-outlet,
.news-time {
    font-size: 0.8rem;
    color: #B6EADA;
}

.news-title {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.news-title:hover {
    text-decoration: underline;
}
