/* treemap_style.css updated content */
#columns-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: flex-start; /* Align children to the top */
    width: 45%; /* Slightly less than half the width for each column */
    margin: 2.5%; /* Give some space between the columns */
}

.treemap-container {
    width: 90%; /* Adjusted width to better fit within the column */
    margin: 10px 0; /* Vertical margin for spacing, horizontal margin for centering */
    position: relative; /* Relative instead of absolute */
    text-align: center; /* Center the text within the treemap */
}

.node {
    /* ... other styles ... */
    position: relative; /* Change from absolute to relative if needed */
}

h3 {
    color: white;
    text-align: center; /* Center the headers */
    margin-top: 20px; /* Provide some spacing at the top */
}

/* Ensure the .column class clears its children */
.column:after {
    content: "";
    display: table;
    clear: both;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    pointer-events: none; /* Ignore pointer events */
    font-size: 14px;
}

/* Update the media query for responsiveness */
@media screen and (max-width: 768px) {
    #columns-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 90%; /* Adjust the width for smaller screens */
        margin: 10px auto; /* Center the columns with auto margins */
    }
}
