@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    -webkit-font-smoothing: antialiased;
    background-color: #03001C;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


.logo-container {
    cursor: pointer;
}

.logo {
    height: 40px;
    padding: 10px;
    box-sizing: content-box;

}

header {
    background-color: #000000;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.main-nav {
    background: #000004;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

#menu > li {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu a {
    text-decoration: none;
    font-family: EuclidCircularSemibold,sans-serif;
    font-style: normal;
    color: #e3e5e5;
    font-weight: 600;
}

#menu a:hover, #menu a:focus {
    background-color: #03001C;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03001C;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #d0d1d1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #301E67;
    color: #fff;
}

.hero {
    position: relative;
    background-image: url('img/stock_blue2.jpg');
    background-size:cover;
    background-position: top center;
    /* text-align: center; */
    text-align: left;
    padding: 200px 20px;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

  .hero-content {
    position: relative;
    /* z-index: 2; Ensure this is above the overlay */
  }
  

.hero h1 {
    font-size: 5rem; 
    /* font-weight: bolder;
    background-image: linear-gradient(to right, #fcf6f6, rgb(13, 14, 14));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 0; */
    color: #fff;
    font-family: EuclidCircularSemibold,sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.04em;
  }

.hero p {
    color: #ffffff;
    font-family: EuclidCircularSemibold,sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.content {
    /* Reintegrated cosmic gradient background */
    background: linear-gradient(to bottom, #000004 0%, #050120 50%, #0f4370 100%);
    color: #ffffff;
    padding: 200px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
/* font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif; */
    font-family: EuclidCircularSemibold,sans-serif;
    font-style: normal;
}

.content h2 {
    font-style: normal;
    font-size: 3.5em;
    margin-bottom: 1em;
    margin-top: 5em;

}

.content p {
    font-size: 1.1em;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
}

.content ul {
    list-style: none;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.content li {
    background: linear-gradient(145deg, #495a75, #3a4860); /* Smooth gradient background */
    padding: 30px; /* Spacious padding */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    word-wrap: break-word;
    width: 350px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    position: relative;
}

.content h2, .content li strong {
    color: #fafdfc;
    font-weight: 1000px;

}

.content li:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); /* Increase shadow for hover effect */
}

.content strong {
    color: #ffffff;
    font-weight: 1500;
    
}

footer {
    background-color: #0f4370;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
}

.content img {
    max-width: 70%; /* Make images responsive */
    height: auto;
    margin-bottom: 20px; /* Spacing below images */
}

/* about us team member */
.team-member {
    display: flex;
    align-items: center; /* This ensures vertical centering of children */
    justify-content: start;
    gap: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.team-member img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 50%; /* Circular image */
    align-self: center; /* This ensures the image itself is centered vertically */
}

.team-member p {
    font-size: 1em;
    margin: 0;
    max-width: 500px;
}

/* Styling for the feature list */
.feature-scroll {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling for arrow navigation */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-right: 20px; /* Adjust as needed */
    font-family: 'Font Awesome 5 Free', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feature-scroll::-webkit-scrollbar {
    display: none; /* This is important to hide the scrollbar */
}
  
/* Styling for individual feature blocks */
#feature-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none; /* Remove default list styling */
}
  
#feature-list li {
    flex: none; /* Do not allow the flex items to grow or shrink */
    margin-right: 20px; /* Space between items */
    min-width: 200px; /* Minimum width for each feature block */
    max-width: 250px; /* Maximum width for each feature block */
    margin-bottom: 20px; /* Space below each item */
}

/* Container for the feature list and arrows */
.features-container {
    position: relative;
    overflow: hidden; /* Hide overflow */
    width: 100%; /* Full width of the container */
    max-width: 900px; /* Or the max-width you prefer */
    margin: auto; /* Center the container if needed */
}

/* Arrows for navigation */
.feature-nav {
    background-color: #495a75; /* Updated background color */
    border-radius: 50%; /* Circular shape for arrows */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position arrows absolutely within the features-container */
    top: 50%; /* Center vertically */
    margin-top: -15px; /* Half of the height to center it */
    transform: translateY(-50%); /* Offset by half height for perfect vertical centering */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    z-index: 2; /* Ensure arrows are above other content */
}

.feature-nav:hover {
    background-color: #5b6d8a; /* Slightly lighter on hover for interaction feedback */
}

/* Styling for navigation arrow icons (if you're using fonts like Font Awesome) */
.feature-nav::before {
    /* Adjust content if you're using a font icon */
    display: block;
    font-family: "Font Awesome 5 Free"; /* Use the correct font family if using icon fonts */
    content: '\f104'; /* Insert the correct content code for the left arrow */
    color: white;
}

.feature-nav.prev {
    left: -40px; /* Position to the left within the container */
}

.feature-nav.next {
    right: -40px; /* Position to the right within the container */
}

.feature-nav.next::before {
    content: '\f105'; /* Insert the correct content code for the right arrow */
}

@media only screen and (max-width: 768px) {
    /* Adjust navigation menu for smaller screens */
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    #menu {
        flex-direction: column;
        width: 100%;
    }

    #menu > li {
        width: 100%; /* Full width for mobile view */
        text-align: center; /* Center the text */
    }

    /* Adjust hero section padding */
    .hero {
        padding: 100px 10px; /* Reduced padding for mobile */
    }

    /* Content Section adjustments */
    .content {
        padding: 50px 10px; /* Less padding for mobile */
    }

    /* Adjust content list items for mobile */
    .content li {
        padding: 20px; /* Adjust padding on smaller screens */
        width: auto; /* Full width of the container */
        margin: 10px; /* Adjust margins for better spacing */
        font-size: 0.9rem; /* Smaller text */
    }

    /* about us team member */
    .team-member {
        flex-direction: column;
        align-items: center;
    }

    .team-member img {
        width: 80px; /* Smaller size for mobile */
        height: 80px;
    }

    .team-member p {
        text-align: center;
        max-width: 100%;
    }

    /* Footer adjustments */
    footer {
        padding: 10px 0; /* Less padding for mobile */
    }

    /* Other general adjustments */
    body, html {
        padding: 0 5px; /* Add some padding to the sides of the screen */
    }

    .feature-nav {
        width: 35px; /* Smaller arrows on mobile */
        height: 35px; /* Smaller arrows on mobile */
    }
}

.row {
    display: flex;
    justify-content: space-around;
}

.treemap-container h3 {
    color: white;
    height: 30px;
    line-height: 30px; 
  
}

.treemap-container {
    padding-top: 30px; 
 
}

h2 {
    color: white; /* Change text color to white for visibility */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

